.App {
  text-align: center;
  background-image: url(../src/Image/Bedroom-Ideas-Integrated-Furniture.jpg);
  background-size: cover;
  position:fixed;
  background-position:center ;
  color:rgb(0, 51, 102);
  min-width:100%;
  min-height:100%;
  margin-top: 0px;
}


